{% extends 'base.html' %}
{% block title %}Welcome!{% endblock %}
{% block devel %}
{% endblock devel %}
{% block content %}
<div class="yui-g">
<div class="yui-u first">
<h1>Welcome</h1>
<p>Welcome to Eagle Financial Services</p>

<p>Get your free quotes.</p>

<h2>Rocking Financial Services</h2>
<ul class="services">
<p>In <b>your</b> real world</li>
<p><a href="/support">24 Hours a Day, 7 Days a Week, 365 Days a Year</a></p>
</ul>

<h2>Our Excellent Copy</h2>
<p>Lorem ipsum's got nothing on us. <b>Buy Insurance</b></p>

<h2>Awesome, Professional Service</h2>
<p>For your <b>peace of mind</b></p>

</div>

<div class="yui-u">
<h2>Request A Free Quote</h2>
{% include "_quoterequest-form-static.html" %}

</div>
</div>
{% endblock %}
